# Node modules
node_modules/

# Vite / build folder
dist/

# Public assets (optional, mostly images)
public/

# Environment files
.env
.env.local
.env.*.local

# Logs
*.log

# OS system files
.DS_Store
Thumbs.db

# Git folder
.git/
